body {
    color: black;
    background: white;
    padding: 0px;
    margin: 0px;
    height: 100%;
    position: relative;
}

.section {
    display: block;
    position: relative;
    background-color: white;
    padding:90px 0;
    padding-top: 90px;
    padding-right: 0;
    padding-bottom: 90px;
    padding-left: 0;
}
.comtainer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section-title{
    width: 100%;
    display: block;
    margin-bottom: 45px;
}
.text-center{
    text-align: center;
}
.isotope {
    transition-property: height, width;
}
.isotope .isotope .isotope-item {
    transition-property: 0.8s;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.isotope .isotope-item {
    transition-property: transform, opacity;
}

.banner-item{
    padding: 15px, 30px;
    float: left;
}
a{
    outline: none !important;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}
a {
    color: black;
    text-decoration: none !important;
}
a {
    background-color: transparent;
}
.banner-item{
    display: block;
    left: 40px;
    bottom: 60px;
   
}
.banner-button {
    position: relative;
    display: block;
    left: 40px;
    bottom: 60px;
}
.button.button--aylen {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: color 0.3s;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}
.banner-button .btn {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    border-color: #89bbc4;
    background-color: #89bbc4;
}
.cat-boxes {
    text-align: center;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 20px;
}
div {
    display: block;

}
img.hovereffect {
opacity: 0.7; //giá trị 0.5 làm cho hình ảnh rõ ràng hơn hoặc mờ đục
 -webkit-transition: all .3s linear; //3s thời gian thực hiện hành động
   -moz-transition: all .3s linear;
   -o-transition: all .3s linear;
  transition: all .3s linear;
  }
  img.hovereffect:hover {
   opacity: 1;
